accelerate
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
amqp
annotated-types
anyio
asyncio
attrs
babel
bcrypt
bidict
billiard
cachetools
celery
certifi
cffi
charset-normalizer
click
click-didyoumean
click-plugins
click-repl
cmdstanpy
colorama
contourpy
convertdate
coverage
cryptography
cycler
datasets
dill
distro
dnspython  
ecdsa
email-validator
et_xmlfile
fastapi
filelock
fonttools
frozenlist
fsspec
ghp-import
gTTS
gunicorn
h11
holidays
httpcore
httptools
httpx
huggingface-hub
idna
imageio
importlib_resources
iniconfig
Jinja2
joblib
kiwisolver
kombu
lazy_loader
llvmlite
loguru
lunardate
Markdown
markdown-it-py
MarkupSafe
marshmallow
matplotlib
mdurl
mergedeep
mkdocs
mkdocs-material
mkdocs-material-extensions
more-itertools
motor
mpmath
multidict
multiprocess
ninja
numba
numpy
openai
openai-whisper
opencv-python
opencv-python-headless
openpyxl
packaging
paginate
pandas
passlib
pathspec
Pillow
platformdirs
pluggy
prompt_toolkit
propcache
prophet
psutil
pyarrow
pyasn1
pyclipper
pycparser
pydantic
pydantic_core
pydub
Pygments
pymdown-extensions
PyMeeus
pymongo
pyparsing
PyPDF2
pytest
pytest-asyncio
pytest-cov
pytest-mock
python-bidi
python-dateutil
python-dotenv
python-engineio
python-jose
python-magic
python-multipart
python-socketio
pytz
PyYAML
pyyaml_env_tag
redis
regex
requests
scipy
seqeval
setuptools
shapely
simple-websocket
six
sniffio
SpeechRecognition
stanio
starlette
structlog
sympy
threadpoolctl
tifffile
tiktoken
tokenizers
torch
torchvision
tqdm
transformers
typing-inspection
typing_extensions
tzdata
urllib3
uvicorn
vine
watchdog
watchfiles
wcwidth
websockets
win32_setctime
wsproto
xxhash
yarl
